@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="activate"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item acrive">
            <img src="https://images2.minutemediacdn.com/image/upload/c_crop,h_1890,w_3363,x_0,y_193/f_auto,q_auto,w_1100/v1565628997/shape/mentalfloss/gettyimages-944631208.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    <div class ="Text"> <b>You can find here your favourites books.</b> <br/> </div>
                    <a class="btn btn-default" href="/Books">
                         See Books Collection
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
